## Label Enconder

In [ ]:
# importando bibliotecas necessárias
import pandas as pd

In [ ]:
#Subindo a base dos dados:
df = pd.read_excel('Frutas.xlsx')

In [ ]:
df.head() #visualizando os dados

           Fruta  Calorias
0        Abacaxi        48
1          Amora        43
2        Abacate       160
3   Banana-prata        89
4  Banana-nanica        92

In [ ]:
from sklearn.preprocessing import LabelEncoder #importando LabelEncoder

In [ ]:
# Instanciando o labelencoder
labelencoder = LabelEncoder()

In [ ]:
# Atribuindo valores numéricos e armazenando em outra coluna
df['CategoriasFrutas'] = labelencoder.fit_transform(df['Fruta'])

In [ ]:
df.head() #visualizando o resultado com labelencoder

           Fruta  Calorias  CategoriasFrutas
0        Abacaxi        48                 1
1          Amora        43                 4
2        Abacate       160                 0
3   Banana-prata        89                 7
4  Banana-nanica        92                 6

## One Hot Enconding / Dummies

In [ ]:
#Subindo a base dos dados:
df = pd.read_excel('Frutas.xlsx')

In [ ]:
# criando a classificação binária por tipo de categoria
dum_df = pd.get_dummies(df, columns=["Fruta"])

In [ ]:
dum_df

,Calorias,Fruta_Abacate,Fruta_Abacaxi,Fruta_Acerola,Fruta_Ameixa,Fruta_Amora,Fruta_Banana-maçã,Fruta_Banana-nanica,Fruta_Banana-prata,Fruta_Caju,Fruta_Caqui,Fruta_Carambola,Fruta_Cereja congelada,Fruta_Figo,Fruta_Framboesa
0,48,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,43,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,160,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,89,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,92,0,0,0,0,0,0,1,0,0,0,0,0,0,0
5,89,0,0,0,0,0,1,0,0,0,0,0,0,0,0
6,46,0,0,0,0,0,0,0,0,0,0,0,1,0,0
7,70,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,31,0,0,0,0,0,0,0,0,0,0,1,0,0,0
9,43,0,0,0,0,0,0,0,0,1,0,0,0,0,0
10,46,0,0,0,1,0,0,0,0,0,0,0,0,0,0
11,32,0,0,1,0,0,0,0,0,0,0,0,0,0,0
12,74,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,52,0,0,0,0,0,0,0,0,0,0,0,0,0,1